* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --main-transitin : 0.3s;
    --main-color: #2196f3;
    --main-borderColor : #ccc;
    --p-color: #777; 
    --main-p: #888;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Cairo', sans-serif;
    display: flex;
    justify-content: space-between;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    background-color: white;
    padding: 10px;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 0px 10px #ccc;
    height: 100%;
    border-radius: 5px;
}
.titleAndP {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
}
.titleAndP-1 {
    margin-bottom: 25px;
}
.main-title {
    font-size: 1.5em;
    margin-bottom: 7px;
}
.main-p {
    color: var(--main-p);
    font-size: 17px;
}
label {
    position: relative;
    transition: .3s;
}
.toggle-checkbox {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}
.toggle-swich {
    background-color: #ccc;
    width: 60px;
    height: 25px;
    position: relative;
    border-radius: 15px;
    cursor: pointer;    
    padding: 1px;
}
.toggle-swich::before {
    content: "\f00d";
    background-color: white;
    width: 20px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    font-size: 14px;
    align-items: center;
}
.toggle-checkbox:checked + .toggle-swich {
    background-color: var(--main-color);
}
.toggle-checkbox:checked + .toggle-swich::before  {
    content: "\f00c";
    right: 0;
}
nav {
    padding: 15px;
    box-shadow: 5px 5px 5px #eee;
    position: relative;
}
nav .userName {
    padding: 10px 0 30px;
    text-align: center;
    position: relative;
    font-weight: bold;
    font-size: 20px;
}
@media (max-width: 768px) {
    nav {
        flex: 0;
        padding: 5px;
    }
    nav .userName {
        text-align: center;
        font-size: 14px;
        padding-bottom: 0px;
    }
    nav .userName::before{
        display: none;
    }
    nav .userName::after {
        display: none;
    }
}
nav .userName::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 2px;
    width: 80%;
    left: 50%;
    top: calc(50% + 15px);
    transform: translateX(-50%);
}
nav .userName::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    left: 50%;
    top: calc(50% + 7.5px);
    transform: translateX(-50%);
    border: 2px solid white;
}
nav ul {
    margin: 20px 0;
}
nav ul li {
    display: flex;
    margin-top: 20px;
    font-size: 17px;
    padding: 10px;
    position: relative;
    overflow: hidden;
}
nav ul li::before {
    content: "";
    position: absolute;
    background: #eee;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: -100%;
    transition: var(--main-transitin);
    border-radius: 5px;
}
nav ul li:hover::before {
    left: 0;
}
nav ul li i {
    margin-right: 7px;
}
nav ul li a {
    letter-spacing: -0.5px;
    color: black;
}
@media (max-width: 768px) {
    nav ul {
        text-align: center;
    }
    nav ul li  {
        font-size: 16px;
        margin: 0 auto;
        padding: 10px 5px;
    }
    nav ul li i {
        margin: 0 auto;
    }
    nav ul li a {
        display: none;
    }
}
.dashboard {
    flex: 1;
    background-color: #f6f6f6;
}
.main-container {
    padding: 20px 15px;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 15px;
}
@media (max-width: 768px) {
    .main-container {
        padding: 5px;
    }
    header {
        padding: 10px;
        justify-content: space-between;
    }
}
header .search {
    position: relative;
}
header .search input {
    width: 75%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px 0px 3px 30px;
}
header .search input:focus {
    outline: none;
}
header .search i {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 10px;
    color: #ccc;
}
header .img {
    display: flex;
}
header .img i {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 20px;
    position: relative;
}
header .img i::after {
    content: "";
    position: absolute;
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    right: 0;
    top: 0px;
}
header .img img{
    border-style: none;
    width: 30px;
    border-radius: 50%;
}
.main-container .title {
    margin: 0;
    font-size: 30px;
    letter-spacing: -0.5px;
    padding: 0px 0 5px;
    width: fit-content;
    position: relative;
}
.main-container .title::before {
    content: "";
    position: absolute;
    background-color: white;
    width: 100%;
    height: 2px;
    bottom: 0;
}
.main-container .title::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 20%;
    height: 2px;
    bottom: 0;
    left: 0;
}
.main-container .dash {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 15px;
}
@media (max-width: 768px) {
    .main-container .dash {
    grid-template-columns: repeat(auto-fill, minmax(350, 1fr));
    }
}
.site .setting > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}
.site .setting div:first-child div h3{
    margin: 10px 0 5px;
    font-size: 19px;
}
.site .setting div:first-child div p{
    color: var(--p-color);
    font-size: 14px;
}
.site .setting div:first-child .out {
    display: flex;
    align-items: center;
    color: var(--main-color);
    font-weight: bold;
    cursor: pointer;
}
.site .setting div:last-child textarea {
    width: 100%;
    resize: none;
    border: 1px solid #777;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    height: 160px;
    border: 1px solid var(--main-borderColor);
}
.site .setting div:last-child textarea:focus {
    outline: none;
}
.general .setting {
    margin-top: 20px;
}
.general .setting div:first-child .first {
    margin-bottom: 10px;
}
.general .setting div:first-child p {
    color: var(--p-color);
    font-size: 16px;
    margin-bottom: 3px;
}
.general .setting div:first-child input {
    width: 100%;
    padding: 8px 7px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.general .setting div:first-child input:focus {
    outline: none;
}
.general .setting div:last-child .email {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.general .setting div:last-child {
    margin-top: 10px;
}
.general .setting div:last-child .email p {
        color: var(--main-color);
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 3px;
}
.general .setting div:last-child .email input {
    padding: 8px 7px;
    flex: .95;
    opacity: .7;
}
.general .setting div:last-child div:last-child {
    flex: .3;
    display: flex;
    align-items: center; 
    color: var(--main-color);
}
.security .setting {
    margin-top: 20px;
}
.security .setting .info {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.security .setting h4 {
    font-size: 17px;
    margin-bottom: 3px;
}
.security .setting .in{
    display: flex;
    align-items: center;
    font-size: 13px;
    color: var(--p-color);
}
.security .setting .info div:last-child {
    display: flex;
    align-items: center;
}
.security .setting .out{
    border-radius: 3px;
    font-size: 16px;
    padding: 10px 12px;
}
.sociall > div {
    margin: 20px 0 0;
}
.sociall div div {
    display: flex;
    flex: 1;
    background-color: #eee;
    margin-bottom: 5px;
}
.sociall div div i {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 0 10px;
    border-right: 1px solid #777;
    color: #777;
    
}
.sociall div div p {
    margin-left: 10px;
    color: #777;
    padding: 13px;
    font-size: 14px;
}
.widgets .info {
    margin-bottom: 15px;
    display: flex;
}
.widgets .info input {
    width: 20px;
    margin-right: 10px;
    color: red;
}
.widgets .info input:checked {
    background-color: #2196f3;
    color: red;
} 
.widgets .info p {
    font-size: 18px;
} 
.backup > div:last-child {
    padding-top: 10px;
    display: flex;
    border-top: 1px solid #eee;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}
.backup .info {
    display: flex;
    margin-bottom: 10px;
}
.backup .info input {
    margin-right: 10px;
}
.backup .info p  {
    font-size: 19px;
}
@media (max-width: 768px) {
    .backup > div:last-child {
        flex-direction: column;
    }
    .backup > div:last-child div {
        flex: 1;
    }
}
.backup > div:last-child div {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    flex: .3;
    position: relative;
}
.backup > div:last-child div::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    border-radius: 6px;
    box-shadow: 0 0 10px 0 #eee;
}
.backup > div:last-child div p {
    margin-top: 5px;
    font-size: 15px;
}